<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>About Us</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="ooc_style.css">
  </head>


  <body>
    <%- include('../../partials/header'); %>

    <div class="container" style="margin-top: 20px;">
        <h1 style="color: #3C91E6">About Us</h1>

        <h3>Our Story Thus Far</h3>
        <p>
          Due to the city's symbol of peace dying spectacularly by a villain's hand. Crime has been up and a lot of pro heroes have gone into early retirement.
          <br><br> 
          The mayor has decided the next generation will now have to take over. So he's lowered the age requirement for provisional licenses and
          started an after-school program in order to train the next generation of heroes. 
          <br><br>
          Due to the shortage of heroes, the heroes in training are sometimes asked to go on missions. Of course, they have the pros on speed dial in case things go awry.
        </p>

        <hr>

        <h3>Be the Hero You Want to Be!</h3>
        <p>
          Your team of young supers must forge your own path amidst the pressures of a world full of people telling 
          you what to do and who to be, and kick some butt along the way!
          <br><br> 
          Masks: A New Generation is a superhero tabletop PbtA game full of action, youthful angst, and dazzling bravery. 
          Take on the roles of members of the latest generation of superheroes, young adults trying to figure out who they are and what kind of heroes they want to be.
        </p>

        <hr>

        <h3>What's PbtA??</h3>
        <p>
          PbtA stands for Powered by the Apocalypse. It is named after its progenitor, a rpg game taking place in a post-apocalyptic world with a focus on the players.
          <br><br>
          Powered by the Apocalypse games are centered on resolving what characters do as Moves. Characters have access to a default selection of moves based on the 
          expectations of the game setting. Moves are resolved by rolling 2d6s. A 6- result is a miss, 7-9 is a mixed success, and 10+ is a complete success.
          <br><br>
          With the use of Moves the players are in charge of the story and help move it forward. The Game Master's (GM) job is to simply react to the players' choices.
        </p>
    </div>

    <!--Scripts-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  </body> 
</html>