<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Playbooks</title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">  
    <link rel="stylesheet" href="ooc_style.css"> 
  </head>

  <body>
    <%- include('../../partials/header'); %>

    <div class="container" style="margin-top: 40px;">
      <h1 style="color: #EE2E31;">Playbooks?</h1>
      <p>
        The characters you create for MASKS are the protagonists of the story, the stars of your comic book. 
        To ensure an interesting cast of characters, MASKS uses <b>playbooks</b>, each one a basic skeleton for a kind of character 
        from young superhero stories.
        <br><br>
        Each player chooses a single playbook at the start of play and uses it to create their character. No two players can pick the 
        same playbook; because MASKS focuses on the team dynamics of these young heroes, the members of the team need to be disparate 
        and distinct.
        <br><br>
        The playbooks don't tell you exactly who you're playing; they give you an interesting starting point for designing differentiated 
        characters who play to the themes and issues of MASKS. Each playbook has a series of issues, complications, and themes wrapped up 
        in its particulars, and it's important that you're happy with whatever you choose.
        </p><hr><p>
        Here's a link to a pdf of the
        <a href="https://drive.google.com/file/d/1mgmJn8kYvjUvAQTNy9IEe5-9yg4hvzpq/view?usp=sharing">playbooks.</a> 
        What follows is a summary of the playbooks and suggestions as to how to play them.
        </p>

<!--PLAYBOOKS ACCORDION-->      
      <div id="accordion">
      <!--Beacon-->
        <div class="card">
          <div class="card-header" id="Beacon" style="text-align: center; background-color: #C2B8B2;">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseBeacon" aria-expanded="false" aria-controls="collapseBeacon">
                <h2> Beacon</h2>
                <p>The heart of the team. Low powered, low angst. They're a hero because they <i>want</i> to be,
                and they're driven always upward.</p>
              </button>
            </h5>
          </div>
          <div id="collapseBeacon" class="collapse" aria-labelledby="Beacon" data-parent="#accordion">
            <div class="card-body">
              <p>
                You're here because this is awesome, and you may not quite fit in, but screw it, you're going to do this anyway: 
                can you prove that you actually deserve to be here? Or are you just a wannabe?
              </p>
              <h2>Playing the Beacon</h2>
              <p>
                &emsp;Hopeful, excited, understanding, human. The Beacon is the most directly
                mortal and least strange of all the playbooks. They haven't been shaped by
                anything else—they could choose to leave this life behind, if they wanted.
                Which is exactly the point. They're here because they <i>want</i> to be here. They
                <i>want</i> to do this. And that gives them a purity compared to the other characters.<br>
    
                &emsp;You can expect NPCs to tell you that you don't really belong here. After
                all, you don't have those extras that most people associate with superheroes.
                A central conflict for the Beacon is proving yourself and making the case for
                why you actually belong.<br>
    
                &emsp;Ultimately, your character is all about their drives. Those give you
                objectives, things to aim towards and try to do, so make sure you pick drives
                that really interest you. Trying to accomplish your drives might lead you into
                trouble just as much as it might lead you to triumph, but they'll always push
                you toward that key conflict—do you actually deserve to be here? And that's
                exactly what you want.<br>
    
                &emsp;Ideally, you want to try to accomplish at least one drive per session. Always
                be on the lookout for an opportunity to accomplish one of your drives, and call
                out when you think you have. Your GM will want to work with you to make
                sure you hit those drives, so remind them what your drives are if you go for a
                session without hitting any.<br>
    
                &emsp;Remember that just because your playbook is generally far less powerful
                than most of your fellows, it doesn't mean you're incompetent or powerless.
                You have abilities! You can <b>unleash your powers</b> to do crazy things! Maybe
                not as crazy as transforming cars into robots or flying on jets of fire, but still.
                Look for opportunities to show off your own powers. Don't feel chained to
                your Mundane Label.
              </p>      
            </div>
          </div>
        </div>
      
      <!--Bull-->
      <div class="card">
        <div class="card-header" id="Bull" style="text-align: center;">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseBull" aria-expanded="false" aria-controls="collapseBull">
              <h2>Bull</h2>
              <p>The bruiser with a heart of gold. Created to be a weapon. Caught between being a cold, 
                gruff fighter and caring deeply about teammates.</p>
            </button>
          </h5>
        </div>
        <div id="collapseBull" class="collapse" aria-labelledby="Bull" data-parent="#accordion">
          <div class="card-body">
            <p>
              You're big, strong, and tough. You know what fighting really is, and you're
              good at it. Sure…you've got a soft side, too. But you only show that to the
              people you care about most. Everybody else? They can eat your fist.
            </p>
            <h2>Playing the Bull</h2>
            <p>
              &emsp;Gruff, tough, passionate, big-hearted. The Bull's a heavy hitter with big feelings.
              They get into a lot of fights, both interpersonal and superheroic, especially
              thanks to their signature move, <b>The Bull's Heart</b>. A lot of the time, they'll be
              Angry. They're a big, gruff wrecking ball, and you should have fun smashing
              them into things. Aim for fights, emotional and physical! Be blunt! That's the
              way of the Bull.<br>

              &emsp;Your biggest asset in playing your Bull is your core move, <b>The Bull's Heart</b>.
              It's your way of signaling to yourself and the whole table that you're interested
              in scenes with particular characters. Pay attention to it, and try to get those
              bonuses as much as possible.<br>

              &emsp;When you're building your Bull, keep your backstory in mind. By default
              a Bull was made into a weapon by someone, and you escaped from them. Be
              sure to describe what you know, without filling in every detail—you're handing
              tools over to the GM so they can spotlight your character in cool ways.<br>

              &emsp;Every playbook's Moment of Truth matters and may shift the direction of
              the character, but the Bull's in particular is significant. When you use your
              Moment of Truth, the story of the Bull's origins becomes way more important.
              Use your Moment of Truth when you know you want to make that backstory
              element unignorable.
            </p>      
          </div>
        </div>
      </div>

      <!--Delinquent-->
      <div class="card">
        <div class="card-header" id="Delinquent" style="text-align: center;background-color: #C2B8B2;">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseDelinquent" aria-expanded="false" aria-controls="collapseDelinquent">
              <h2> Delinquent</h2>
              <p>The troublemaker and attention-seeker, rabblerouser and rebel. 
                Tricks, deception, and provocation are their hallmarks.</p>
            </button>
          </h5>
        </div>
        <div id="collapseDelinquent" class="collapse" aria-labelledby="Delinquent" data-parent="#accordion">
          <div class="card-body">
            <p>
              You've got these cool powers. But everyone keeps telling you how to use 'em. You know what they need? 
              Someone to give them trouble, to make sure they don't always get their way.
              <br>And hey! You're the perfect hero to do it.
            </p>
            <h2>Playing the Delinquent</h2>
            <p>
              &emsp;Rebellious, joking, attention-seeking, manipulative. The Delinquent is the class
              clown, or the punk with the stash of weed, or the rebel without a cause. They're
              the spoiler, most often just because they can be more than out of any particular
              desire. They trick other people, they mess with people, they cause problems.
              That said, the Delinquent isn't an excuse to just be an annoying jerk. They
              cause trouble because it's how they get attention, and it's how they deal with
              problems—but that doesn't mean they're without deeper feelings or goals that
              make them more human.<br>

              &emsp;The Delinquent veers between being selfish and being a proud member
              of the team, and their moves point them in that direction. <b>Mary Contrary</b>
              and <b>I don't care what you think!</b> are both about messing with and ignoring
              the words of others, especially your teammates, while <b>Troublemaker</b> is about
              helping your team (albeit in destructive ways), and <b>Team? What team?</b> is
              about both! The Delinquent bounces back and forth over that line, over
              and over, so play in that space and have fun with it. Remember always that,
              ultimately, you're part of this team for a reason—you wanted to be here—so
              simply ditching them all is never an option. (Not least because it means your
              character would probably retire!)<br>

              &emsp;The Delinquent works best by sticking close to teammates, one way or
              another, as much as possible. Whether you're giving them grief, getting to
              know them better, or even revealing your true self, your story is ultimately
              about how you relate to your closest compatriots. You're the companion, the
              helper, the provocateur, and you make other characters' lives interesting with
              your presence. Own it!<br>

              &emsp;Part and parcel to the idea that you're on the team because you want to be
              is the idea that you're a hero because you want to be. You may be a rebel, and
              you may hate the capes that patrol the skies, but you're still on the same side
              as them—you are here to help people, to make things better. You just probably
              have a different idea of what “better” means than they do.<br>

              &emsp;Delinquents will often tip in the direction of villainy, especially with
              the influence of bigger villains around them—but to actually do anything
              outwardly villainous ould be a huge shift for them, and might even mark the
              end of the character's arc. Don't dive into that abyss thoughtlessly.
            </p>      
          </div>
        </div>
      </div>

      <!--Doomed-->
      <div class="card">
        <div class="card-header" id="Doomed" style="text-align: center;">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseDoomed" aria-expanded="false" aria-controls="collapseDoomed">
              <h2> Doomed</h2>
              <p>The dramatic martyr. Cursed to ultimately lose their self to some terrible fate, and up against a terrible nemesis.</p>
            </button>
          </h5>
        </div>
        <div id="collapseDoomed" class="collapse" aria-labelledby="Doomed" data-parent="#accordion">
          <div class="card-body">
            <p>
              Something about your powers dooms you. It's just a matter of time before your doom comes 
              for you. Until then, though...you've got a nemesis who needs fighting and a world that needs 
              saving. After all, it's better to burn out than fade away…
            </p>
            <h2>Playing the Doomed</h2>
            <p>
              &emsp;Tragic, melodramatic, powerful, driven. The Doomed is a character best served
              by long-term play, even though their story is about time pressure and not
              knowing how long they have left. They're the only character who starts with a
              clear-cut enemy—their nemesis—and a dangerous timer on their character's
              lifespan. They're also the only character that explicitly faces death by the end of
              their story. As a result, adding a Doomed to your campaign inherently adds a
              level of drama, gloom, and danger to your game—death, while not a constant
              element, is now on the table.<br>

              &emsp;If you're playing the Doomed, you may feel a desire to avoid using your
              doomsigns or to stay away from the triggers that advance your doom track.
              Don't! Embrace those pieces of your character. Filling your doom track gives
              you doomsigns; doomsigns give you more power; and that power demands
              a purpose. By default, you can rely on your nemesis to provide you with a
              purpose, something to strive against, but you can aim for other things, too. Be
              ready to pay a lot of costs along the way to accomplishing your goals, whether
              through your sanctuary or other means.<br>
            </p>      
          </div>
        </div>
      </div>
      
      <!--Janus-->
      <div class="card">
        <div class="card-header" id="Janus" style="text-align: center;background-color: #C2B8B2;">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseJanus" aria-expanded="false" aria-controls="collapseJanus">
              <h2> Janus</h2>
              <p>The hero with a dual life. Required to have a secret identity; they struggle to manage two lives at once.</p>
            </button>
          </h5>
        </div>
        <div id="collapseJanus" class="collapse" aria-labelledby="Janus" data-parent="#accordion">
          <div class="card-body">
            <p>
              Wake up. Breakfast. School. Work. Homework. Sleep. Repeat. It burns you up,
              being stuck in this life, unable to make a real difference. That is...until you put
              on the mask. And then, you can be someone else: a hero.
            </p>
            <h2>Playing the Janus</h2>
            <p>
              &emsp;Stressed, responsible, dual, heroic. The Janus is two people in one, and their
              struggle is about balancing that paradox.<br>

              &emsp;You have your regular life and all its responsibilities on one side, and your
              superheroic life and all its madness on the other. And ultimately, you don't
              want to give up either one—but they both pull and pull at you, building up
              the tension until you feel like you're going to snap. That's okay, though. Your
              story's all about that tension, and overcoming it, especially thanks to the people
              around you. Cultivate relationships with NPCs and PCs—they're all important
              to your overarching story.<br>

              &emsp;Pay close attention to your mask. When do you wear it and when do you
              take it off? Who knows about your secret identity and who doesn't? For you,
              more than any other playbook, it matters which overt guise you're in, which
              mask you're wearing, and which face you're presenting to the outside world.
            </p>      
          </div>
        </div>
      </div>

      <!--Legacy-->
      <div class="card">
        <div class="card-header" id="Legacy" style="text-align: center;">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseLegacy" aria-expanded="false" aria-controls="collapseLegacy">
              <h2> Legacy</h2>
              <p>The latest in a family of heroes. Part of a larger tradition of heroism with its own enemies, rules, and obligations.</p>
            </button>
          </h5>
        </div>
        <div id="collapseLegacy" class="collapse" aria-labelledby="Legacy" data-parent="#accordion">
          <div class="card-body">
            <p>
              You're the latest in a storied heroic lineage, a family that shares a name and a cause. 
              Now, everybody is watching and waiting to see if you've got what it takes to uphold that tradition. 
              No pressure, right?
            </p>
            <h2>Playing the Legacy</h2>
            <p>
              &emsp;Capable, impressive, burdened, famous. The Legacy comes from a long line of
              superheroes, meaning they have a superheroic family, either biologically related
              or connected through their shared legacy. Their story is about the support of
              that family, and the pressure of carrying on the family name. They have many
              benefits and advantages that the other PCs might not have—the name of their
              legacy itself probably carries weight with the city—but at the same time, the
              expectations and responsibilities placed on them are even higher.<br>

              &emsp;The Legacy has a constant source of support and connection in the other
              members of their legacy—returning to those characters on a regular basis is
              an important part of the Legacy's cycle. If you don't spend time with them, you
              can expect them to purposefully force their way into your life.<br>

              &emsp;The Legacy often inherently pushes into a position of authority on the
              team—they're probably from one of the most established traditions of heroism
              in the city. Run with it! Putting still more responsibility on the Legacy only
              further highlights your issues—and gives you even more chances to triumph.
              This doesn't mean your Legacy is guaranteed to be the leader of the team,
              though, especially if you have someone like a Protégé on your team. Play with
              that tension—everyone would think you would be the leader, but is it what
              you really want?
            </p>      
          </div>
        </div>
      </div>

      <!--Nova-->
      <div class="card">
        <div class="card-header" id="Nova" style="text-align: center;background-color: #C2B8B2;">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseNova" aria-expanded="false" aria-controls="collapseNova">
              <h2> Nova</h2>
              <p>The overpowered conflagration. They can reshape the world—but it's hard to 
                control so much power, and if they fail, others get hurt.</p>
            </button>
          </h5>
        </div>
        <div id="collapseNova" class="collapse" aria-labelledby="Nova" data-parent="#accordion">
          <div class="card-body">
            <p>
              You're a font of power. Channel it, and you can remake the world into exactly
              what you want. Unleash it, and you can do miracles. It's wonderful...and
              terrifying. Lose control for even a second, and other people get hurt.
            </p>
            <h2>Playing the Nova</h2>
            <p>
              &emsp;Powerful, unrestrained, vulnerable, destructive. The Nova is power incarnate,
              capable of affecting the world and changing reality on a level their teammates
              can't possibly match—but that power comes with enormous risk, both to the
              Nova and to the world around them.<br>

              &emsp;The Nova's abilities are intentionally some of the most open-ended of
              any playbook. They can do nearly anything, though not without difficulty or
              cost. Chances are, if the Nova wants to do something with their superhuman
              abilities, there's a way they can twist their abilities to do that thing—after they
              <b>unleash their powers</b>, of course. And if they miss when unleashing their
              powers, the consequences will be much more severe than when the Beacon
              misses while firing a net arrow.<br>

              &emsp;Keep in mind the distinction between <b>unleashing your powers</b> and using
              your Burn and flares. To <b>unleash</b>, you push your powers to do something
              impressive right now. To use your Burn, you have to charge up, and then
              you can create all manner of cool effect through your flares, and you might
              not even need to roll. So if you just want a quick solution, you're probably
              <b>unleashing</b>. If you want to let loose with a string of effects, charge your flares.<br>

              &emsp;The Nova is particularly focused on each moment, each individual problem
              immediately at hand. They're so powerful, chances are good that they can at
              least try to overcome any obstacle with their powers, right then and there. As
              a result, this isn't a playbook for long-term planning or preparation. You're
              explosive, a battering ram of power. Don't be too afraid of conditions, because
              they feed right into your flares, giving you still more power to just make things
              happen, instantly. But that's your story—balancing the impossible, trying to
              keep a rein on your power and guide it in the right direction.
            </p>      
          </div>
        </div>
      </div>

      <!--Outsider-->
      <div class="card">
        <div class="card-header" id="Outsider" style="text-align: center;">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOutsider" aria-expanded="false" aria-controls="collapseOutsider">
              <h2>Outsider</h2>
              <p>The alien with strange powers. They're from
                somewhere else. And they're trying to decide
                between staying here or going home.</p>
            </button>
          </h5>
        </div>
        <div id="collapseOutsider" class="collapse" aria-labelledby="Outsider" data-parent="#accordion">
          <div class="card-body">
            <p>
              You're not from here. Your home is an amazing place, full of beauty and wonder. But there's something 
              to them, something special that you're missing back home. Something…human. So yeah, you'll be hanging around. 
              At least for now.
            </p>
            <h2>Playing the Outsider</h2>
            <p>
              &emsp;Strange, curious, naïve, arrogant. The Outsider isn't from here, but that won't
              stop them from creating a life for themself right here on this planet. At least,
              for now. But can they find a place here? Will they even want to, once they get
              to know this world more? Or will they answer that siren call, and go home?<br>

              &emsp;When you make an Outsider, feel free to go nuts with your homeland. You
              might be an alien, absolutely, but you might also be from a parallel world, or
              from the future, or from a digital realm—whatever. The key is, wherever you're
              from, it has to be substantially different from Earth and Halcyon City, to the
              point that you don't fit in even when you try.<br>

              &emsp;A crucial thing to remember while playing the Outsider is that you aren't
              incompetent—you understand more than enough to get by in your new home.
              What you don't understand are the more complicated elements of the world
              around you.<br>

              &emsp;Pick a few key areas of different philosophy and psychology as you play
              your Outsider. You can add all the weird pieces you want—“My people never
              let their feet touch the ground, and we can't see the color green, and we hear
              emotions!”—but focus on important and difficult questions, like your people
              actively dismissing the idea of incarcerating criminals instead of reforming
              them or believing that those with great power are required to follow the will
              of the people.
            </p>      
          </div>
        </div>
      </div>

      <!--Protege-->
      <div class="card">
        <div class="card-header" id="Protege" style="text-align: center;background-color: #C2B8B2;">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseProtege" aria-expanded="false" aria-controls="collapseProtege">
              <h2>Protégé</h2>
              <p>The extremely well-trained understudy. Defined by a strong relationship with one adult figure—their mentor..</p>
            </button>
          </h5>
        </div>
        <div id="collapseProtege" class="collapse" aria-labelledby="Protege" data-parent="#accordion">
          <div class="card-body">
            <p>
              You proved yourself to an experienced hero. They think you've got what it takes. They've been 
              training you for a while, and now you have to decide...do you want to be them? Or will you find your own path?
            </p>
            <h2>Playing the Protégé</h2>
            <p>
              &emsp;Focused, well-trained, driven, unsure. The Protégé is defined by two things:
              their training and their mentor. A Protégé has a level of skill and preparation
              beyond nearly any of the other PCs—even the Legacy wasn't necessarily as
              well-trained as the Protégé. The Protégé might have innate powers, sure, but
              they were also guided in how to use those abilities and more by their mentor.
              That also means they're devoted to being a superhero in a way that none of the
              other PCs may be—a Protégé made at the start of play has been training for
              quite some time to get into this life.<br>

              &emsp;That said, the question before a Protégé is always whether this is really what
              they want—and, more specifically, if they want to wind up being their mentor.
              For better or worse, the relationship between you and your mentor is always
              one wherein your mentor wants you to turn out similarly to them—maybe not
              exactly the same, but close. And you have to decide if that's really what you
              want. Regardless of everything they've given you, you might not want their life
              once you understand what it really means. Pay close attention to your choices
              for which Labels your mentor denies and embodies. In addition to telling you
              the kind of person your mentor likely is, they tell you the kind of person your
              mentor wants you to be.<br>

              &emsp;Make sure you spend time with your mentor. Return to them. Ask them
              for help and input. You might butt heads with them, you might resist what
              they choose for you, but they matter to you, as well. They gave you what you
              needed to become the person you are today, and your relationship with them
              is the source of your dramatic arc. They might seek you out, but you should
              do the same.
            </p>      
          </div>
        </div>
      </div>

      <!--Transformed-->
      <div class="card">
        <div class="card-header" id="Transformed" style="text-align: center;">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTransformed" aria-expanded="false" aria-controls="collapseTransformed">
              <h2> Transformed</h2>
              <p>The monstrous appearance and human mind. They used to be a regular person, but they were changed forever.</p>
            </button>
          </h5>
        </div>
        <div id="collapseTransformed" class="collapse" aria-labelledby="Transformed" data-parent="#accordion">
          <div class="card-body">
            <p>
              You can recall a time not too long ago when you looked...normal. When you didn't feel their stares. 
              When you didn't hear their gasps. When no one thought of you as a monster. Those were the days, huh.
            </p>
            <h2>Playing the Transformed</h2>
            <p>
              &emsp;Troubled, titanic, grotesque, lamentable. The Transformed used to be human,
              without any powers or superhuman elements, until something happened and
              they were changed, obviously and permanently. They might be a cyborg, or
              a strange monster, or made of electricity—just so long as they're strange and
              inhuman, with no way of hiding it. The Transformed's story is about what you
              do with your new life and form, and how you react to the way other people
              treat you now.<br>

              &emsp;Make the details of your abilities strange and surprising. If you have
              impenetrable armor, it could be just straight up armored plating, like a lizard—
              or it could be a layer of water over your entire body that slows down any
              impact coming your way. If you have superhuman senses, it could be that you
              can see and hear really well—or it could be that you have strange antenna
              that can actually detect the thoughts of sentient minds. Be grotesque, and
              play with it.<br>

              &emsp;As the Transformed, lots of people will attempt to shift your Labels, just
              by how they react to your appearance. You're the quintessential book, and
              your cover is pretty striking—other people will judge you by it all the time,
              whether you like it or not. Your story is about how your actions either change
              or confirm those opinions. You can prove those people wrong—or you can
              prove them right. It's your choice.<br>

              &emsp;Pay close attention to your backstory questions while building your
              character. You're not the Bull, whose past is muddy and unclear—you had a
              life, and you remember it clearly. It's important to know who you were so that
              everyone at the table knows who you might be now. It's especially important
              that you answer the third question, about someone outside of the team who is
              helping you understand your new body. This character is your link to further
              developments specifically on your transformation. Whether it's learning about
              what your transformation means, how it happened, what you can really do,
              or how to change back, they're going to play an important role in your story.<br>

              &emsp;It's theoretically possible for you to change yourself back over the course of
              play—after all, everything and anything is possible within Halcyon City. But
              keep in mind that doing so will be very difficult—you have no tools to point
              out such a path for yourself—and it requires you to change playbooks, or retire
              your character at the very least. Your character's arc and struggles aren't really
              about trying to return to what you were—they're about trying to deal with what you are now.
            </p>      
          </div>
        </div>
      </div>

      </div>
    </div>

    <%- include('../../partials/footer'); %>

    <!--Scripts-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

  </body> 
</html>