<div id="accordion">

    <div class="card">
      <div class="card-header" id="weildOne">
        <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseWield" aria-expanded="false" aria-controls="collapseWield">
                Wield your Powers
            </button>
        </h5>
      </div>
      <div id="collapseWield" class="collapse" aria-labelledby="weildOne" data-parent="#accordion">
        <div class="card-body">
            When you <i>wield your powers</i> with precision or grace, roll <b>+Freak.</b> 
            <br>On a hit, choose one. On a 10+, choose two.
            <ul>
                <li>take hold of something vulnerable to you</li>
                <li>create something useful from your environment</li>
                <li>neutralize an opponent or threat, at least for now</li>
            </ul>        
        </div>
      </div>
    </div>

    <div class="card">
        <div class="card-header" id="overwhelmTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOverwhealm" aria-expanded="false" aria-controls="collapseOverwhealm">
                    Unleash Your Powers
                </button>
            </h5>
        </div>
      <div id="collapseOverwhealm" class="collapse" aria-labelledby="overwhelmTwo" data-parent="#accordion">
            <div class="card-body">
                When you <i>unleash your powers</i> to overcome an obstacle, reshape your environment, or extend your senses, roll <b>+Freak. </b>
                <br>On a hit, you do it. On a 7-9, mark a condition or the GM will tell you how the effect is unstable or temporary.
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="persuadeThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsePersuade" aria-expanded="false" aria-controls="collapsePersuade">
                    Comfort or Support
                </button>
            </h5>
        </div>
        <div id="collapsePersuade" class="collapse" aria-labelledby="persuadeThree" data-parent="#accordion">
            <div class="card-body">
                When you <i>comfort or support</i> someone, roll <b>+Mundane.</b> 
                <br>On a hit, they hear you: they mark potential, clear a condition, or shift Labels if they open up to you. 
                <br>On a 10+, you can also add a Team to the pool or clear a condition yourself.
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="empathizeFour">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEmpathize" aria-expanded="false" aria-controls="collapsePierce">
                Pierce the Mask
            </button>
          </h5>
        </div>
        <div id="collapsePierce" class="collapse" aria-labelledby="empathizeFour" data-parent="#accordion">
            <div class="card-body">
                When you <i>pierce someone's mask</i> to see the person beneath, roll <b>+Mundane.</b> 
                <br>On a 10+, ask three. On a 7-9, ask one.
                <ul>
                    <li>what are you really planning?</li>
                    <li>what do you want me to do?</li>
                    <li>what do you intend to do?</li>
                    <li>how could I get your character to _____?</li>
                    <li>how could I gain Influence over you?</li>          
                </ul>
           </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="standFive">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseStand" aria-expanded="false" aria-controls="collapseStand">
                    Defend
                </button>
            </h5>
        </div>
        <div id="collapseStand" class="collapse" aria-labelledby="standFive" data-parent="#accordion">
            <div class="card-body">
                When you <i>defend someone or something</i> from an immediate threat, roll <b>+Savior.</b> 
                <br><br><u>For NPC threats:</u> on a hit, you keep them safe and choose one. 
                <br>On a 7-9, it costs you: expose yourself to danger or escalate the situation.
                <ul>
                    <li>add a Team to the pool</li>
                    <li>take Influence over someone you protect</li>
                    <li>clear a condition</li>
                </ul>
                <u>For PC threats:</u> on a hit, give them -2 to their roll. 
                <br>On a 7-9, you expose yourself to cost, retribution, or judgment.            
            </div>
        </div>
      </div>

</div>