<div id="accordion-adult">

    <div class="card">
      <div class="card-header" id="weildOne">
        <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseWield" aria-expanded="false" aria-controls="collapseWield">
                Wield your Powers
            </button>
        </h5>
      </div>
      <div id="collapseWield" class="collapse" aria-labelledby="weildOne" data-parent="#accordion-adult">
        <div class="card-body">
            When you <i>wield your powers</i> with precision or grace, roll <b>+Freak.</b> 
            <br>On a hit, choose one. On a 10+, choose two.
            <ul>
                <li>take hold of something vulnerable to you</li>
                <li>create something useful from your environment</li>
                <li>neutralize an opponent or threat, at least for now</li>
            </ul>        
        </div>
      </div>
    </div>

    <div class="card">
        <div class="card-header" id="overwhelmTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOverwhealm" aria-expanded="false" aria-controls="collapseOverwhealm">
                    Overwhelm a Vulnerable Foe
                </button>
            </h5>
        </div>
      <div id="collapseOverwhealm" class="collapse" aria-labelledby="overwhelmTwo" data-parent="#accordion-adult">
            <div class="card-body">
                When you <i>overwhelm a vulnerable foe</i>, roll <b>+Danger.</b>
                <br>On a hit, the fight's over. They're done. On a 10+, choose one. On a 7-9, choose two.
                <ul>
                    <li>you take a powerful blow in turn</li>
                    <li>you hurt your foe more than you intended</li>
                    <li>you cause serious collateral damage</li>
                </ul> 
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="persuadeThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsePersuade" aria-expanded="false" aria-controls="collapsePersuade">
                    Persuade with Best Interests
                </button>
            </h5>
        </div>
        <div id="collapsePersuade" class="collapse" aria-labelledby="persuadeThree" data-parent="#accordion-adult">
            <div class="card-body">
                When you <i>persuade someone with their best interests</i>, roll <b>+Superior.</b> 
                <br><br>If they're an <u>NPC</u>, on a 10+, they buy it and act accordingly. 
                <br>On a 7-9, they need concrete assurance, right now. 
                <br><br>If they're a <u>PC</u>, on a hit, they can mark potential or shift their own Labels if they do what you want. 
                <br>On a 10+, take Influence over them as well.
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="empathizeFour">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEmpathize" aria-expanded="false" aria-controls="collapseEmpathize">
                Empathize
            </button>
          </h5>
        </div>
        <div id="collapseEmpathize" class="collapse" aria-labelledby="empathizeFour" data-parent="#accordion-adult">
            <div class="card-body">
                When you openly<i>empathize with someone</i>, roll <b>+Mundane.</b>
                <br>On a hit, they must reveal a vulnerability or mark a condition. 
                <br>On a 10+, take Influence over them as well.
           </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="standFive">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseStand" aria-expanded="false" aria-controls="collapseStand">
                    Stand Up For Something
                </button>
            </h5>
        </div>
        <div id="collapseStand" class="collapse" aria-labelledby="standFive" data-parent="#accordion-adult">
            <div class="card-body">
                When you <i>stand up for something</i>, roll <b>+Savior.</b> 
                <br>On a 10+, choose two. On a 7-9, choose one.
                <ul>
                    <li>listeners can't keep doing what they're doing</li>
                    <li>listeners can't flee without addressing you</li>
                    <li>listeners can't attack you without losing status or position</li>
                </ul>        
            </div>
        </div>
      </div>

</div>