<div id="accordion">

    <div class="card">
      <div class="card-header" id="engageOne">
        <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEngage" aria-expanded="false" aria-controls="collapseEngage">
                Directly Engage A Threat
            </button>
        </h5>
      </div>
      <div id="collapseEngage" class="collapse" aria-labelledby="engageOne" data-parent="#accordion">
        <div class="card-body">
            When you <i>directly engage a threat</i>, roll <b>+Danger.</b> 
            <br>On a hit, trade blows. On a 10+, pick two. On a 7-9, pick one.
            <ul>
                <li>resist or avoid their blows</li>
                <li>take something from them</li>
                <li>create an opportunity for your allies</li>
                <li>impress, surprise, or frighten the opposition</li>
            </ul>        
        </div>
      </div>
    </div>

    <div class="card">
        <div class="card-header" id="unleashTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseUnleash" aria-expanded="false" aria-controls="collapseUnleash">
                    Unleash Your Powers
                </button>
            </h5>
        </div>
      <div id="collapseUnleash" class="collapse" aria-labelledby="unleashTwo" data-parent="#accordion">
            <div class="card-body">
                When you <i>unleash your powers</i> to overcome an obstacle, reshape your environment, or extend your senses, roll <b>+Freak. </b>
                <br>On a hit, you do it. On a 7-9, mark a condition or the GM will tell you how the effect is unstable or temporary.
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="comfortThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseComfort" aria-expanded="false" aria-controls="collapseComfort">
                    Comfort or Support
                </button>
            </h5>
        </div>
        <div id="collapseComfort" class="collapse" aria-labelledby="comfortThree" data-parent="#accordion">
            <div class="card-body">
                When you <i>comfort or support</i> someone, roll <b>+Mundane.</b> 
                <br>On a hit, they hear you: they mark potential, clear a condition, or shift Labels if they open up to you. 
                <br>On a 10+, you can also add a Team to the pool or clear a condition yourself.
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="pierceFour">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsePierce" aria-expanded="false" aria-controls="collapsePierce">
                Pierce the Mask
            </button>
          </h5>
        </div>
        <div id="collapsePierce" class="collapse" aria-labelledby="pierceFour" data-parent="#accordion">
            <div class="card-body">
                When you <i>pierce someone's mask</i> to see the person beneath, roll <b>+Mundane.</b> 
                <br>On a 10+, ask three. On a 7-9, ask one.
                <ul>
                    <li>what are you really planning?</li>
                    <li>what do you want me to do?</li>
                    <li>what do you intend to do?</li>
                    <li>how could I get your character to _____?</li>
                    <li>how could I gain Influence over you?</li>          
                </ul>
           </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="defendFive">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseDefend" aria-expanded="false" aria-controls="collapseDefend">
                    Defend
                </button>
            </h5>
        </div>
        <div id="collapseDefend" class="collapse" aria-labelledby="defendFive" data-parent="#accordion">
            <div class="card-body">
                When you <i>defend someone or something</i> from an immediate threat, roll <b>+Savior.</b> 
                <br><br><u>For NPC threats:</u> on a hit, you keep them safe and choose one. 
                <br>On a 7-9, it costs you: expose yourself to danger or escalate the situation.
                <ul>
                    <li>add a Team to the pool</li>
                    <li>take Influence over someone you protect</li>
                    <li>clear a condition</li>
                </ul>
                <u>For PC threats:</u> on a hit, give them -2 to their roll. 
                <br>On a 7-9, you expose yourself to cost, retribution, or judgment.            
            </div>
        </div>
      </div>

    <div class="card">
        <div class="card-header" id="assessSix">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseAssess" aria-expanded="false" aria-controls="collapseAssess">
                    Assess The Situation
                </button>
            </h5>
        </div>
        <div id="collapseAssess" class="collapse" aria-labelledby="assessSix" data-parent="#accordion">
            <div class="card-body">
                When you <i>assess the situation</i>, roll <b>+Superior.</b> 
                <br>On a 10+, ask two. On a 7-9, ask one. Take +1 while acting on the answers.
                <ul>
                    <li>what here can I use to _____?</li>
                    <li>what here is the biggest threat?</li>
                    <li>what here is in the greatest danger?</li>
                    <li>who here is most vulnerable to me?</li>
                    <li>how could we best end this quickly? </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="provokeSeven">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseProvoke" aria-expanded="false" aria-controls="collapseProvoke">
                    Provoke Someone
                </button>
            </h5>
        </div>
        <div id="collapseProvoke" class="collapse" aria-labelledby="provokeSeven" data-parent="#accordion">
            <div class="card-body">
                When you <i>provoke someone</i> susceptible to your words, say what you're trying to get them to do and roll <b>+Superior.</b> 
                <br><br><u>For NPC:</u> on a 10+, they rise to the bait and do what you want. 
                <br>On a 7-9, they can instead choose one. 
                <ul>
                    <li>they stumble: you take +1 forward against them</li>
                    <li>they err: you gain a critical opportunity</li>
                    <li>they overreact: you gain Influence over them</li>
                </ul>
                <u>For PC:</u> On a 10+, both. On a 7-9, choose one.
                <ul>
                    <li>if they do it, add a Team to the pool</li>
                    <li>if they don't do it, they mark a condition</li>
                </ul>            
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="powerfulEight">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsePowerful" aria-expanded="false" aria-controls="collapsePowerful">
                    Take a Powerful Blow
                </button>
            </h5>
        </div>
        <div id="collapsePowerful" class="collapse" aria-labelledby="powerfulEight" data-parent="#accordion">
            <div class="card-body">
                When you <i>take a powerful blow</i>, roll <b>+conditions</b> marked. 
                <br>On a 10+, choose one.
                <ul>
                    <li>you must remove yourself from the situation: flee, pass out, etc.</li>
                    <li>you lose control of yourself or your powers in a terrible way</li>
                    <li>two options from the 7-9 list</li>
                </ul>
                On a 7-9, choose one.
                <ul>
                    <li>you lash out verbally: provoke a teammate to foolhardy action or take advantage of your Influence to inflict a condition</li>
                    <li>you give ground; your opposition gets an opportunity</li>
                    <li>you struggle past the pain; mark two conditions</li>
                </ul>
                On a miss, you stand strong. Mark potential as normal, and say how you weather the blow.            
            </div>
        </div>
    </div>

</div>