<link rel="stylesheet" href="footer_style.css"> 

<footer class="text-white" style="background-color:#1B4079; margin-top:20px; padding-top: 10px;">
    <div class="row">
        <div class="col-md-8">
              <h1 id="footerh1">
                    Ministry of Powered Persons
                </h1> 
                <p id="footerp">
                    MoPP is a fictional government agency in a superhero campaign. 

                    <br>The rule set used is Masks: a new generation. Feel free to look at the 
                    <a id="footera" href="/about-us">about</a> page for more information  

                    <br>The world is created by the GM and her players. The website is 
                    <a id="footera" href="https://github.com/quietlycreeping/MOPP">developed</a> b
                    y J. Orlando who is also the GM.
                </p> 
        </div>

            <div class="col-md-2">
                <h2 id="footerh2">
                    Archive
                </h2>
                <ul id="footerul">
                    <li><a id="footera" href="/the-team">The Team</a></li>
                    <li><a  id="footera" href="/calendar">Calendar</a></li>
                    <li><a id="footera" href="/citizens">People</a></li>
                    <li><a  id="footera" href="/city-map">Map</a></li>
                </ul>
            </div>

            <div class="col-md-2">
                <h2 id="footerh2">
                    Administrative
                </h2>
                <ul id="footerul">
                    <li>Guidelines</li>
                        <ul style="padding-left: 0;">
                            <li><a id="footera" href="/rules-moves">Moves</a></li>
                            <li><a id="footera" href="/rules-labels">Labels</a></li>
                        </ul>
                    <li><a id="footera" href="/safety-policies">Safety Policy</a></li>
                    <li><a id="footera" href="/about-us">About Us</a></li>
                </ul>
            </div>

        </div>
    </div>
    <div class="row" style="background-color:#112542; padding: 15px;"> </div>
</footer>