<!--template by mdbootstrap-->

<link rel="stylesheet" href="footer_style.css">

<footer class="text-white text-lg-start"  style="background-color:#1B4079; margin-top:30px; padding-top: 10px;">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h1 id="footerh1" class="text-uppercase">Ministry of Powered Persons</h1>
  
          <p id="footerp">
            MoPP is a fictional government agency in a superhero campaign. 
            
            <br>The rule set used is Masks: a new generation. Feel free to look at the 
            <i><a id="footera" href="/about-us">about</a></i> page for more information  

            <br>The world is created by the GM and her players. 
                    
            <br>The website is <i><a id="footera" href="https://github.com/quietlycreeping/MOPP">developed</a></i> 
            by J. Orlando who is also the GM.
          </p>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h2 id="footerh2" class="text-uppercase">Archive</h2>
            <ul id="footerul">
            <li><a id="footera" href="/the-team">The Team</a></li>
            <li><a  id="footera" href="/calendar">Calendar</a></li>
            <li><a id="footera" href="/citizens">People</a></li>
            <li><a  id="footera" href="/city-map">Map</a></li>
          </ul>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h2 id="footerh2" class="text-uppercase mb-0">Administrative</h2>
  
            <ul id="footerul">
              <li>Guidelines</li>
                  <ul style="padding-left: 20px;">
                      <li><a id="footera" href="/rules-moves">Moves</a></li>
                     <li><a id="footera" href="/rules-labels">Labels</a></li>
                 </ul>
             <li><a id="footera" href="/safety-policies">Safety Policy</a></li>
             <li><a id="footera" href="/about-us">About Us</a></li>
        </ul>
      
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- empty box -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">

  </footer>