<link rel="stylesheet" href="header_style.css"> 

<nav class="navbar navbar-expand">
  <div class="container-fluid">

    <!-- Logo & Name-->
    <a class="navbar-brand" href="/">
      <img src="MOPP_white.png" alt="MOPP logo" width="52.7" height="31.8" class="d-inline-block align-text-top">
        MOPP
    </a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!--- Dropdown Links--->
    <div class="collapse navbar-collapse justify-content-end mr-auto text-center" id="navbarNavDropdown">
      <ul class="navbar-nav">

        <!------Archive Links------------------------------>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            Archive
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/the-team">The Team</a></li>
            <li><a class="dropdown-item" href="/calendar">Calendar</a></li>
            <li><a class="dropdown-item" href="/citizens">People</a></li>
            <li><a class="dropdown-item" href="/city-map">Map</a></li>
          </ul>
        </li>

        <!-----Administrative Links------------------------------------>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            Administrative
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/ruleset">Rules</a></li>
            <li><a class="dropdown-item" href="/safety-policies">Safety Policy</a></li>
            <li><a class="dropdown-item" href="/about-us">About Us</a></li>
          </ul>
        </li>

      </ul>
    </div>  

  </div>
</nav>