<div id="accordion-peripheral">

  <div class="card">
    <div class="card-header" id="startOne">
      <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseStart" aria-expanded="false" aria-controls="collapseStart">
                Start of Session
            </button>
      </h5>
    </div>
    <div id="collapseStart" class="collapse" aria-labelledby="startOne" data-parent="#accordion-peripheral">
      <div class="card-body">
            At the start of every session, the GM adds a Team to the pool.       
      </div>
    </div>
  </div>

  <div class="card">
      <div class="card-header" id="endTwo">
          <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEnd" aria-expanded="false" aria-controls="collapseEnd">
                    End of Session
              </button>
          </h5>
      </div>
    <div id="collapseEnd" class="collapse" aria-labelledby="endTwo" data-parent="#accordion-peripheral">
          <div class="card-body">
                At the end of every session, choose one:
                <ul>
                    <li><b>Grow closer to the team.</b> Explain who made you feel welcome; give Influence to that character and clear a condition or mark potential.</li>
                    <li><b>Grow into your own image of yourself.</b> Explain how you see yourself and why; shift one Label up and another down.</li>
                    <li><b>Grow away from the team.</b> Explain why you feel detached. Take Influence over you away from another character.</li>
                </ul>
          </div>
      </div>
  </div>

  <div class="card">
      <div class="card-header" id="teamThree">
          <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTeam" aria-expanded="false" aria-controls="collapseTeam">
                    Team Mechanics
              </button>
          </h5>
      </div>
      <div id="collapseTeam" class="collapse" aria-labelledby="teamThree" data-parent="#accordion-peripheral">
          <div class="card-body">
                When you <i>enter battle against a dangerous foe as a team</i>, add two to the Team pool.
                <ul>
                    <li>If the leader has Influence over every teammate, add another Team.</li>
                    <li>If everyone has the same purpose in the fight, add another Team.</li>
                    <li>If any team member mistrusts the leader or the team, remove a Team.</li>
                    <li>If your team is ill-prepared or offbalance, remove a Team.</li>
                </ul>
                The leader of the team can mark a condition to avoid removing a Team from the pool.
                <hr>
                Anyone working with the team can spend Team one for one to help a teammate; give them +1 to their roll.
                <hr>
                Team members can also spend Team to act selfishly. When you act selfishly, say how your actions ignore or insult your teammates, remove one Team from the pool, and shift one Label up and one Label down, your choice. You can use this option after rolling to alter the Label you're rolling with.
                <hr>
                Whenever time passes, the GM will empty the Team pool and restore it to one Team.
          </div>
      </div>
  </div>

  <div class="card">
      <div class="card-header" id="conditonsFour">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseConditions" aria-expanded="false" aria-controls="collapseConditions">
                Conditions
          </button>
        </h5>
      </div>
      <div id="collapseConditions" class="collapse" aria-labelledby="conditonsFour" data-parent="#accordion-peripheral">
          <div class="card-body">
                When a move tells you to mark a condition, mark any condition you choose. 
                Sometimes the GM may tell you a specific condition to mark, especially after a hard move.
              <br><br>If you need to mark a condition and have no more conditions to mark, you are taken out. 
              You lose consciousness or flee. The GM will tell you when you come back into another scene. You may clear one condition.
              <hr>
              Once a condition is marked, take -2 to certain moves (max -3).
              <ul>
                  <li>If you're <u>Angry</u>, take -2 to <i>comfort or support someone</i> or <i>pierce the mask.</i></li>
                  <li>If you're <u>Afraid</u>, take -2 to <i>directly engage.</i></li>
                  <li>If you're <u>Guilty</u>, take -2 to <i>provoke someone</i> or <i>assess the situation.</i></li>
                  <li>If you're <u>Hopeless</u>, take -2 to <i>unleash your powers.</i></li>
                  <li>If you're <u>Insecure</u>, take -2 to <i>stand in defense</i> or <i>reject what others say about you or the world.</i></li>          
              </ul>
         </div>
      </div>
  </div>

  <div class="card">
      <div class="card-header" id="clearFive">
          <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseClear" aria-expanded="false" aria-controls="collapseClear">
                    Clearing Conditions
              </button>
          </h5>
      </div>
      <div id="collapseClear" class="collapse" aria-labelledby="clearFive" data-parent="#accordion-peripheral">
          <div class="card-body">
            You can always clear a condition by taking a certain action. At the end of any scene in which you take the corresponding action, clear that condition.
              <ul>
                  <li>To clear <u>Angry</u>, hurt someone or break something important.</li>
                  <li>To clear <u>Afraid</u>, run from something difficult.</li>
                  <li>To clear <u>Guilty</u>, make a sacrifice to absolve your guilt.</li>
                  <li>To clear <u>Hopeless</u>, fling yourself into easy relief.</li>
                  <li>To clear <u>Insecure</u>, take foolhardy action without talking to your team.</li>
              </ul>
              You can also clear a condition when someone else comforts or supports you, or when you defend someone.          
          </div>
      </div>
    </div>

  <div class="card">
      <div class="card-header" id="shiftSix">
          <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseShift" aria-expanded="false" aria-controls="collapseShift">
                    Shifting Labels
              </button>
          </h5>
      </div>
      <div id="collapseShift" class="collapse" aria-labelledby="shiftSix" data-parent="#accordion-peripheral">
          <div class="card-body">
            When you shift a Label, it means that your view of yourself is changing. 
            You see yourself more as the Label you shift up, less as the Label you shift down. 
            <br><br>If you ever need to shift a Label above +3 or below -2 mark a condition instead, GM's choice.
          </div>
      </div>
  </div>

  <div class="card">
      <div class="card-header" id="influenceSeven">
          <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseInfluence" aria-expanded="false" aria-controls="collapseInfluence">
                    Influence
              </button>
          </h5>
      </div>
      <div id="collapseInfluence" class="collapse" aria-labelledby="influenceSeven" data-parent="#accordion-peripheral">
          <div class="card-body">
            When someone has Influence over you, it means you care about what they do, say, or think. 
            <br>At any time you can give Influence to any character who doesn’t have Influence over you. 
            <br>All adults have Influence over you when first introduced.
            <hr>
            When you have <i>Influence over someone</i>, take +1 to all moves targeting them, including rejecting their Influence.
            <hr>
            When you <i>take advantage of your Influence over someone</i>, surrender the Influence you hold over them to choose one:
            <ul>
                <li>give them -2 on a move they just made (after the roll)</li>
                <li>inflict a condition on them</li>
                <li>take an additional +1 on a move targeting them (after the roll)</li>
            </ul>
            <hr>
            When <i>someone with Influence over you tells you who you are or how the world works</i>, accept what they say or reject their Influence. 
            <br>If you accept what they say, the GM will adjust your Labels accordingly; if you want to keep your Labels as they are, you must reject their Influence.
            <hr>
            When you reject someone’s Influence, roll. On a hit, you successfully hold to yourself and tune them out. On a 10+, choose two. On a 7-9, choose one.
            <ul>
                <li>lear a condition or mark potential by immediately acting to prove them wrong</li>
                <li>shift one Label up and one Label down, your choice</li>
                <li>cancel their Influence and take +1 forward against them</li>
            </ul>
            On a miss, their words hit you hard. Mark a condition, and the GM will adjust your Labels.
            <hr>
            If you have <i>Influence over a teammate and you would gain Influence over them again</i>, 
            immediately shift one of their Labels up and one of their Labels down, your choice.
            <hr>
            If you have <i>Influence over an NPC and you would gain Influence over them again</i>, take +1 forward against them.
          </div>
      </div>
  </div>

  <div class="card">
      <div class="card-header" id="momentEight">
          <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseMoment" aria-expanded="false" aria-controls="collapseMoment">
                    Moment of Truth
              </button>
          </h5>
      </div>
      <div id="collapseMoment" class="collapse" aria-labelledby="momentEight" data-parent="#accordion-peripheral">
          <div class="card-body">
            When you unlock your Moment of Truth, you can activate it at any time: read your Moment of Truth out loud from the back of your 
            playbook and follow that script. In essence, you (the player) take full control of the narrative in this moment. The GM will let 
            you know what consequences arise...
            <br><br>After you use your Moment of Truth, permanently lock one Label. You have changed, and some part of you has become set in stone. 
            You can unlock your Moment of Truth a second time through advancements.            
          </div>
      </div>
  </div>

  <div class="card">
    <div class="card-header" id="advanceNine">
        <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseAdvance" aria-expanded="false" aria-controls="collapseAdvance">
                Advancements
            </button>
        </h5>
    </div>
    <div id="collapseAdvance" class="collapse" aria-labelledby="advancesNine" data-parent="#accordion-peripheral">
        <div class="card-body">
            When someone permanently loses Influence over you, it means that character can never hold Influence over you again. 
            This is almost always best used on an NPC, to indicate that you have moved past them and won't be affected by what you think of them again.
            <hr>
            When you <b>retire from the life</b>, it means you're not part of the superpowered world anymore, and that character should be considered safe and 
            off-limits to the GM's moves.
            <hr>
            When you <b>lock a Labe</b>l, it means that Label can never shift up or down again—that part of yourself is set in stone.
            <hr>
            When you <b>become a paragon of the city</b>, it means you're no longer a “young” hero—you're a peer of the biggest heroes in the city, 
            and you aren't a Masks character anymore. The GM should treat your character as one of the biggest heroes in the city, but play them as an NPC.            
        </div>
    </div>
</div>

</div>