<div id="accordion">
    <div class="card">
      <div class="card-header" id="Beacon" style="text-align: center;">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <h2> Beacon</h2>
            <p>The heart of the team. Low powered, low angst. They're a hero because they <i>want</i> to be,
            and they're driven always upward.</p>
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse show" aria-labelledby="Beacon" data-parent="#accordion">
        <div class="card-body">
          <p>
            You're here because this is awesome, and you may not quite fit in, but screw it, you're going to do this anyway: 
            can you prove that you actually deserve to be here? Or are you just a wannabe?
          </p>
          <h2>Playing the Beacon</h2>
          <p>
            &emsp;Hopeful, excited, understanding, human. The Beacon is the most directly
            mortal and least strange of all the playbooks. They haven’t been shaped by
            anything else—they could choose to leave this life behind, if they wanted.
            Which is exactly the point. They’re here because they <i>want</i> to be here. They
            <i>want</i> to do this. And that gives them a purity compared to the other characters.<br>

            &emsp;You can expect NPCs to tell you that you don’t really belong here. After
            all, you don’t have those extras that most people associate with superheroes.
            A central conflict for the Beacon is proving yourself and making the case for
            why you actually belong.<br>

            &emsp;Ultimately, your character is all about their drives. Those give you
            objectives, things to aim towards and try to do, so make sure you pick drives
            that really interest you. Trying to accomplish your drives might lead you into
            trouble just as much as it might lead you to triumph, but they’ll always push
            you toward that key conflict—do you actually deserve to be here? And that’s
            exactly what you want.<br>

            &emsp;Ideally, you want to try to accomplish at least one drive per session. Always
            be on the lookout for an opportunity to accomplish one of your drives, and call
            out when you think you have. Your GM will want to work with you to make
            sure you hit those drives, so remind them what your drives are if you go for a
            session without hitting any.<br>

            &emsp;Remember that just because your playbook is generally far less powerful
            than most of your fellows, it doesn’t mean you’re incompetent or powerless.
            You have abilities! You can <b>unleash your powers</b> to do crazy things! Maybe
            not as crazy as transforming cars into robots or flying on jets of fire, but still.
            Look for opportunities to show off your own powers. Don’t feel chained to
            your Mundane Label.
          </p>      
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Collapsible Group Item #2
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Collapsible Group Item #3
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
  </div>