@import url('https://fonts.googleapis.com/css?family=Montserrat'); /*Heading*/
@import url('https://fonts.googleapis.com/css?family=Raleway'); /*Subheading*/
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans'); /*body*/

#footerh1{
    font-family: "Montserrat", sans-serif;
    font-size:larger;
}

#footera
{
    color: white;
}

#footerh2{
    font-family: "Raleway", sans-serif;
    font-size: large;
}

#footeerp{
    font-family: "Nunito Sans", sans-serif;
    font-size: small;
}

#footerul{
    font-family: "Nunito Sans", sans-serif;
    list-style-type: square;
    font-size: small;
    padding-left: 25px;
}

