@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Raleway'); /*Subheading*/
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans'); /*body*/

nav
{
  background-color: #1B4079;
}

/* MOPP */
.navbar-brand 
{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: white;
    font-size:x-large;
    margin-top: -5px;
    margin-bottom: -5px;
}

.navbar-brand:hover
{
  color: grey;
}

/* Archive and Admistrative Dropdown*/
a.nav-link.dropdown-toggle 
{
  font-family: "Raleway", sans-serif;
  font-size: large;
  color: white;
}

/* Dropdown Text*/
a.dropdown-item
{
  font-family: "Nunito Sans", sans-serif;
  color: white;
  font-size: 14px;
  background-color: #1B4079;
}

a.nav-link.disabled
{
  font-family: "Nunito Sans", sans-serif;
  color: white;
  font-size: 14px;
  background-color: #1B4079;
}

ul.dropdown-menu.show
{
  background-color: #1B4079;
}