@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

h1
{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

p
{
    font-family: "Nunito+Sans", sans-serif;
}