<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Team Delta37</title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">  
    <link rel="stylesheet" href="archive_style.css"> 
  </head>

  <body>
    <%- include('../../partials/header'); %>

    <div class="container" style="margin-top: 20px;">
      <h1>Team</h1>
      <p>This page is a work in progress. 
        <br>
        For now here's a <a href="https://docs.google.com/spreadsheets/d/1-UtalcFi-GMeUn78mbiVvaiwQV1kHBsaBSbXsEdxQ4I/edit#gid=0">google sheets doc.</a>
        for influence. 
      </p>
    </div>

    <div class="container" style="margin-top: 40px;">
      <h1>Playbooks?</h1>
      <p>
        The characters you create for MASKS are the protagonists of the story, the stars of your comic book. 
        To ensure an interesting cast of characters, MASKS uses <b>playbooks</b>, each one a basic skeleton for a kind of character 
        from young superhero stories.
        <br><br>
        Each player chooses a single playbook at the start of play and uses it to create their character. No two players can pick the 
        same playbook; because MASKS focuses on the team dynamics of these young heroes, the members of the team need to be disparate 
        and distinct.
        <br><br>
        The playbooks don't tell you exactly who you're playing; they give you an interesting starting point for designing differentiated 
        characters who play to the themes and issues of MASKS. Each playbook has a series of issues, complications, and themes wrapped up 
        in its particulars, and it's important that you're happy with whatever you choose.
        <hr>
        Here's a link to a pdf of the
        <a href="https://drive.google.com/file/d/1mgmJn8kYvjUvAQTNy9IEe5-9yg4hvzpq/view?usp=sharing">playbooks.</a> 
        What follows is a summary of the playbooks and suggestions as to how to play them.
      </p>
      
      <%- include('../../partials/playbooks'); %>
      
    </div>

    

    <%- include('../../partials/footer'); %>

    <!--Scripts-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

  </body> 
</html>